.breadcrumb-container {
  .menu-container {
    .menu-toggle {
      color: #5D769C;
      cursor: pointer;
      text-decoration: none;
      display: inline-block;
      &:hover {
        text-decoration: underline;
      }
      span {
        text-transform: uppercase;
        font: 11px/21px AB;
        margin-right: 3px;
        &:nth-child(1), &:nth-child(2) {
          &::after {
            content: "\00a0\00BB";
          }
        }
      }
    }
    i {
      display: inline-block;
      margin-left: 2px;
      margin-bottom: 1px;
    }
    .start-info {
      display: inline-block;
      margin-left: 12px;
      .arrow {
        position: relative;
        background: #75A1C8;
        top: 6px;
        &::after {
          right: 100%;
          border: solid transparent;
          content: "";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(117, 161, 200, 0);
          border-right-color: #75A1C8;
          border-width: 7px;
          margin-top: 0px;
        }
      }
      .start-text {
        color: white;
        padding: 6px;
        background: #75A1C8;
        font-weight: 600;
      }
    }
  }
}