.icon-down {
  background: url("../assets/mm_sprite.png") -28px -0px no-repeat;
  display: block;
  width: 10px;
  height: 5px;
}


.icon-up {
  background: url("../assets/mm_sprite.png") -56px -0px no-repeat;
  display: block;
  width: 10px;
  height: 5px;
}